// Colors
$background-color: rgb(192, 36, 150);
$main-text-color: darken($background-color, 20%);
$btn-color: $main-text-color;
$btn-background-color: rgb(155, 203, 109);
$btn-special-background-color: rgb(51, 191, 196);
$start-btn-color: lighten($btn-background-color, 10%);
$stop-btn-color: rgb(219, 50, 50);
$overlay-color: rgba(197, 198, 177, 0.345);
$modal-background-color: rgba(151, 192, 17, 0.901);

// Constants
$border-radius: 5px;

// placeholders
%container-padding {
  padding: 0.5rem;
}

%border {
  border: 1px solid $main-text-color;
  border-radius: $border-radius;
}

// %burger__line {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 3px;
//   background-color: $main-btn-color;

//   &:hover {
//     background-color: $main-hover-color;
//   }
// }

// mixins

// @mixin media-mobile-big {
//   @media (max-width: 830px) {
//     @content;
//   }
// }

// @mixin media-mobile-small {
//   @media (max-width: 600px) {
//     @content;
//   }
// }