@import '../../../styles/variables';

.header {
  @extend %container-padding;
}

.header__title {
  margin: 0.5rem;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
