// Colors
$background-color: rgb(7, 68, 70);
$btn-color: rgb(16, 55, 57);
$btn-background-color: rgb(51, 191, 196);

// Constants
$border-radius: 5px;

// placeholders
%button {
  padding: 0.3rem 0.6rem;
  background-color: $btn-background-color;
  color: $btn-color;
  cursor: pointer;
  border: 1px solid darken($btn-background-color, 20%);
  border-radius: $border-radius;
}

%container-padding {
  padding: 0.5rem;
}

// %burger__line {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 3px;
//   background-color: $main-btn-color;

//   &:hover {
//     background-color: $main-hover-color;
//   }
// }

// mixins

// @mixin media-mobile-big {
//   @media (max-width: 830px) {
//     @content;
//   }
// }

// @mixin media-mobile-small {
//   @media (max-width: 600px) {
//     @content;
//   }
// }