@import '../../../../styles/variables.scss';

//placeholders

%input {
  @extend %border;
  background-color: transparent;

  &:disabled {
    background-color: lighten($btn-special-background-color, 30%);
  }
}

.controls {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.controls__title {
  grid-column: span 4;
  text-align: center;
}

.controls__create-input,
.controls__upgrade-input {
  grid-column: span 2;
  align-self: stretch;
  @extend %input;
}

.controls__create-input_color,
.controls__upgrade-input_color {
  @extend %input;
}

.controls__create-btn, 
.controls__upgrade-btn,
.controls__generate-btn {
  background-color: $btn-special-background-color;
}

.controls__race-btn {
  grid-column: span 2;
}