@import '../../../../styles/variables.scss';

// placeholders
%race-btn {
  padding: 0.2rem;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.97);
  }
}

// colors
$start-btn-background-color: lighten($start-btn-color, 10%);
$start-btn-border-color: darken($start-btn-color, 20%);
$stop-btn-background-color: lighten($stop-btn-color, 10%);
$stop-btn-border-color: darken($stop-btn-color, 20%);

// styles
.car {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
}

.car__remove-btn,
.car__select-btn {
  width: 4rem;
  display: inline-flex;
  justify-content: center;
  background-color: $btn-special-background-color;
}

.car__start-btn {
  @extend %race-btn;
  background-color: $start-btn-background-color;
  border: 2px solid $start-btn-border-color;
  color: $start-btn-border-color;

  &:disabled {
    background-color: cadetblue;
    pointer-events: none;
  }
}

.car__stop-btn {
  @extend %race-btn;
  background-color: $stop-btn-background-color;
  border: 2px solid $stop-btn-border-color;
  color: $stop-btn-border-color;

  &:disabled {
    background-color: cadetblue;
    pointer-events: none;
  }
}

.car__img {
  width: 2rem;
  height: 2rem;
  background: url('../img/car.svg') center no-repeat;
  background-size: contain;
}